<!-- page header
================================================== -->
<section class="page-header page-header--donation">

  <div class="gradient-overlay"></div>
  <div class="row page-header__content">
    <div class="column">
      <h1>Support us</h1>
    </div>
  </div>

</section> <!-- end page-header -->


<!-- page content
================================================== -->
<section class="page-content">

  <div class="row">
    <div class="column">

      <p class="lead drop-cap">
        Your generosity makes a difference
        Miracle center church International is supported entirely from the donations of our visitors and members. We do not receive any funds from the German church tax as most churches in this country do.

        You can support Miracle center church International(MCCI) financially by bringing your tithes and giving your offerings in the following ways:
      </p>

      <blockquote cite="http://where-i-got-my-info-from.com">
        <p>
          Bring the full tithe into the storehouse, that there may be food in my house. And thereby put me to the test, says the Lord of hosts, if I will not open the windows of heaven for you and pour down for you a blessing until there is no more need.
        </p>
        <cite>
          <a href="#0">Malachi 3:10</a>
        </cite>
      </blockquote>

      <br>





    </div>
  </div>

</section> <!-- end page-content -->



<!-- Social
================================================== -->
<section class="s-social">

  <div class="row social-content">
    <div class="column">
      <ul class="social-list">
        <li class="social-list__item">
          <a href="#0" title="">
            <span class="social-list__icon social-list__icon--facebook"></span>
            <span class="social-list__text">Facebook</span>
          </a>
        </li>
        <li class="social-list__item">
          <a href="#0" title="">
            <span class="social-list__icon social-list__icon--twitter"></span>
            <span class="social-list__text">Twitter</span>
          </a>
        </li>
        <li class="social-list__item">
          <a href="#0" title="">
            <span class="social-list__icon social-list__icon--instagram"></span>
            <span class="social-list__text">Instagram</span>
          </a>
        </li>
        <li class="social-list__item">
          <a href="#0" title="">
            <span class="social-list__icon social-list__icon--email"></span>
            <span class="social-list__text">Email</span>
          </a>
        </li>
      </ul>
    </div>
  </div> <!-- end social-content -->

</section> <!-- end s-social -->
