<h2 class="heading-margin-top" >Child Dedication

</h2>
<p><i> <b>"Children are an heritage of the LORD: and the fruit of the womb is His reward. (Psalm 127:3)"</b></i></p>

<p class="welcome-text">
  Child dedication is a treasured moment in which parents make a public declaration of faith to raise their child in the ways of the Lord as established in the Bible. While this does not secure salvation, it is symbolic of entrusting the child’s life to God’s will. Parents are encouraged to be a Godly example to their children by living a lifestyle that glorifies God, and earnestly praying for them daily.
</p>



<h1  >FAQ

</h1>





