<footer class="s-footer">
  <div class="row footer-top">
    <div class="column large-4 medium-5 tab-full">
      <div class="footer-logo">
        <a class="site-logo" routerLink="/">
          <img src="church_512.png" alt="Homepage" class="logo-icon">
          <span class="logo-box">
        <span class="logo-title">Miracle Center Church International e.V</span>
        <span class="logo-subtitle">Dortmund, Germany</span>
      </span>
        </a>
      </div>
      <p>
        MCCI is a church that believes in Jesus,
        a church that loves God and people.
      </p>
    </div>
    <div class="column large-half tab-full">
      <div class="row">
        <div class="column large-7 medium-full">
          <h4 class="h6">Our Location</h4>
          <p>
            Gutenbergstraße 33, <br>
            44139 Dortmund <br>
           Germany
          </p>
          <p>
            <a href="https://www.google.com/maps/place/Gutenbergstraße+33,+44139+Dortmund/@51.51593,7.46719,17z" target="_blank" class="btn btn--footer">Get Direction</a>
          </p>
        </div>
        <div class="column large-5 medium-full">
          <h4 class="h6">Quick Links</h4>
          <ul class="footer-list">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/events"> Events</a></li>
            <li><a routerLink="/donation"> Support Us</a></li>
            <li><a routerLink="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row footer-bottom">
    <div class="column ss-copyright">
      <span>Design by Ronney </span>
    </div>
  </div>

  <div class="ss-go-top">
    <a class="smoothscroll" title="Back to Top" href="#top">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M12 0l8 9h-6v15h-4v-15h-6z"/>
      </svg>
    </a>
  </div>
</footer>
