<footer class="s-footer">
  <div class="row footer-top">
    <div class="column large-4 medium-5 tab-full">
      <div class="footer-logo">
        <a class="site-logo" routerLink="/">
          <img src="church_logo.jpeg" alt="Homepage" class="logo-icon">
          <span class="logo-box">
        <span class="logo-title">{{'footer.logo.title' |translate}}</span>
        <span class="logo-subtitle">{{'footer.logo.subtitle' |translate}}</span>
      </span>
        </a>
      </div>
      <p>
        {{'footer.description' |translate}}
      </p>
    </div>
    <div class="column large-half tab-full">
      <div class="row">
        <div class="column large-7 medium-full">
          <h4 class="h6"> {{'footer.location.title' |translate}}</h4>
          <p>
            {{'footer.location.address' |translate}} <br>
          </p>
          <p>
            <a href="https://www.google.com/maps/place/Gutenbergstraße+33,+44139+Dortmund/@51.51593,7.46719,17z" target="_blank" class="btn btn--footer">
              {{'footer.location.button' |translate}} <br>

            </a>
          </p>
        </div>
        <div class="column large-5 medium-full">
          <h4 class="h6">Quick Links</h4>
          <ul class="footer-list">
            <li><a routerLink="/"> {{'footer.quick-links.links.home' |translate}}</a></li>
            <li><a routerLink="/about/about-us">{{'footer.quick-links.links.about' |translate}}</a></li>
            <li><a routerLink="/events"> {{'footer.quick-links.links.events' |translate}}</a></li>
            <li><a routerLink="/donation"> {{'footer.quick-links.links.support-us' |translate}}</a></li>
            <li><a routerLink="/contact">{{'footer.quick-links.links.contact' |translate}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row footer-bottom">
    <div class="column ss-copyright">
      <span>© Copyright Hesed 2019</span>
      <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
      <span>Customized and developed by <span style="color: white">Ronney</span></span>
    </div>
  </div>

  <div class="ss-go-top">
    <a class="smoothscroll" title="Back to Top" href="#top">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M12 0l8 9h-6v15h-4v-15h-6z"/>
      </svg>
    </a>
  </div>

  <!-- New Privacy & Impressum Section -->
  <div class="row">
    <div class="column" style="text-align: center; margin-top: 10px;">
      <a routerLink="/privacy-policy" style="text-decoration: underline; margin: 0 15px;">Privacy Policy</a>
      <a routerLink="/impressum" style="text-decoration: underline; margin: 0 15px;">Impressum</a>
    </div>
  </div>

<!--  <div class="ss-go-top">-->
<!--    <a class="smoothscroll" title="Back to Top" href="#top">-->
<!--      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">-->
<!--        <path d="M12 0l8 9h-6v15h-4v-15h-6z"/>-->
<!--      </svg>-->
<!--    </a>-->
<!--  </div>-->
</footer>
