 <div class="row heading-margin-top ">
   <blockquote cite="http://where-i-got-my-info-from.com">
     <p>
       As for Me and My House, We Will Serve the Lord”
     </p>
     <cite>
       <a href="#0">Joshua 24:15</a>
     </cite>
   </blockquote>

   <br>

   <div class="column large-half medium-full">
            <h2>Our Purpose.</h2>
            <ul>
              <li>To glorify God by creating an environment where His presence is experienced daily.</li>
              <li>To guide people into a personal, ongoing relationship with Jesus Christ.</li>
              <li>To lead people into a personal and transformative relationship with Jesus Christ as Lord and Savior.</li>
              <li>To nurture spiritual growth through prayer, worship, and the teaching of God’s Word.</li>
              <li>To equip believers to live victorious, Spirit-filled lives empowered by the gifts of the Holy Spirit.</li>
              <li>To raise up disciples who walk in holiness, faith, and obedience to God’s calling.</li>
              <li>To serve our community with compassion, showing Christ’s love in practical and powerful ways.</li>
              <li>To fulfill the Great Commission by spreading the Gospel locally and globally with urgency and passion.</li>
            </ul>
          </div>


          <div class="column large-half medium-full">
            <h2>Our Mission.</h2>
            <ul>
              <li>To proclaim the Gospel of Jesus Christ with love, truth, and power.</li>
              <li>To provide an atmosphere where people can encounter God through worship, prayer, and the ministry of the Holy Spirit.</li>
              <li>To bring healing, deliverance, and restoration to individuals and families.</li>
              <li>To disciple and empower believers to walk in faith and serve with compassion.</li>
              <li>To reach out to our community and beyond with the message of hope, love, and miracles.</li>
              <li>To encourage believers to live Spirit-filled lives, manifesting the gifts of the Holy Spirit in everyday situations.</li>
              <li>To create a church culture where God’s presence is central, and every member is equipped to impact the world for Christ.</li>

            </ul>
          </div>

        </div>


