<div class="profile-container">
  <div class="profile-left">
    <h3>Rev Prince  Edos</h3>
    <h2>Church Senior Pastor</h2>
    <p>
      Rev. Pastor Prince Edos is a passionate pentecostal minister from Nigeria, known for his powerful
      preaching, prophetic insights, and commitment to spiritual growth. Pastor Prince established MCCI in Dortmund, marking the beginning of its mission and ministry in the city, under the leadership of Pastor Prince, MCCI has been serving the nation of Germany with a strong vision and commitment to transforming lives.
    </p>

  </div>

  <div class="profile-right">
    <img src="/pastor-01.jpg" alt="Joe Robles standing on a busy street" />
  </div>
</div>
