<div class="profile-container">
  <div class="profile-left">
    <h1>Rev Pastor Prince Edos</h1>
    <h2>Church Senior Pastor</h2>
    <p>
      Rev. Pastor Prince Edos is a passionate Pentecostal minister from Nigeria, known for his powerful
      preaching, prophetic insights, and commitment to spiritual growth. Since 2014, he has been in
      Dortmund, Germany, where God called him to establish Miracle Center Church International.
      His ministry emphasizes prayer, holiness, and the manifestation of the Holy Spirit, bringing hope, encouragement, and transformation to lives locally and internationally.
    </p>

  </div>

  <div class="profile-right">
    <img src="/pastor-01.jpg" alt="Joe Robles standing on a busy street" />
  </div>
</div>
