<h2 class="heading-margin-top" >Membership

</h2>
<p><i> <b>"But God has combined the members of the body and has given greater honor to the parts that lacked it, so that there should be no division in the body, but that its parts should have equal concern for each other. 1 Corinthians 12:24"</b></i></p>

<p class="welcome-text">
  At Miracle Center Church International e.V, being a member is more than just having a certified membership document that can help during the marriage, funeral, education, child dedications and emergencies.

  In MCCI, we believe in Jesus; and as a church, we commit to:</p>
<ul>
  <li> <b>Learn the Word of God</b>
  </li>
  <li> <b>Worship Him</b>
  </li>
  <li> <b>Follow His teaching and</b>
  </li>
  <li> <b> Fellowship and grow with other members</b>
  </li>
</ul>
  When you decide to become a member, you reaffirm your commitment not just to God but also to the church and in this way are accountable to the commitment, fellowship and belonging.

  We the members work together as one family, to support one another; through constant encouragement, motivation, guidance, development and most importantly, through sharing the love of Jesus.



<h1  >FAQ

</h1>





