<h2 class="heading-margin-top" >Sunday Worship Service

</h2>
<p class="justify-text"><i> <b>"Enter his gates with thanksgiving and his courts with praise; give thanks to him and praise his name." - Psalm 100:4</b></i></p>

<p class="justify-text">
  Experience a beautiful Sunday by praising and worshipping God with us at Miracle Center Church International e.V as a family.
  ‘Worship’ seasoned with the powerful and undeniable presence of the Holy Spirit and the life-changing
  ‘Word’ is a wonderful way to begin your week. Meet and fellowship with other members of our Church and
  you will be amazed to find out how much you belong here. If you’ve never visited us before, we’d love to have you over!


</p>


<h2 >How to Find Us</h2>
<ul>
  <li><b>Gutenbergstraße 33, 44139 Dortmund</b></li>
  <li>Public Transport: Nearest tram stop Dortmund Stadthaus (220m walk to church)</li>
  <li>Subway line U44,U41,U45,U47</li>
</ul>






