<h2 class="heading-margin-top" >On the first Sunday of every month, we as a church partake of the Holy Communion at 11:30 AM.

</h2>
<p><i> <b>"And he took bread, gave thanks and broke it, and gave it to them, saying, ‘This is my body given for you; do this in remembrance of me.’ In the same way, after the supper he took the cup, saying, ‘This cup is the new covenant in my blood, which is poured out for you." Luke 22:19-20</b></i></p>

<p class="welcome-text">
  We take the Holy Communion to commemorate the death of Jesus as He taught us to do: “do this in remembrance of me”. As we partake of the bread and wine,
  we remember the sacrifice Jesus made for us on the cross. Communion signifies, seals and applies all the benefits of the new covenant to us, believers.
  In this ordinance, Christ confirms His promises to us, His people; and we solemnly consecrate ourselves to Him and to His entire service.

  The Holy Communion reminds us of what Jesus did in the past; it is a symbol of our present relationship with Him, and also a promise of what He will do for us in the future.

  The ordinance is given in <b>Matthew 26:26-29, Mark 14:22-25, Luke 22:19-20 and 1 Corinthians 11:24-26</b> .
</p>


<h1  >FAQ

</h1>





