
<h1 class="heading-margin-top" >Your generosity makes a difference</h1>
<p class="welcome-text">
  Miracle center church International is supported entirely from the donations of our visitors and members. We do not receive any funds from the German church tax as most churches in this country do.

  You can support Miracle center church International(MCCI) financially by bringing your tithes and giving your offerings in the following ways:
</p>

<p class="welcome-text">
  If you have any questions, please contact our treasurer at emailid................

</p>
<p>
  Please know that we will gratefully accept your donation as a gift from you and prayerfully consider how to build the work of the Lord.

</p>
<blockquote cite="http://where-i-got-my-info-from.com">
  <p>
    Bring the full tithe into the storehouse, that there may be food in my house. And thereby put me to the test, says the Lord of hosts, if I will not open the windows of heaven for you and pour down for you a blessing until there is no more need.
  </p>
  <cite>
    <a href="#0">Malachi 3:10</a>
  </cite>
</blockquote>

<br>

